@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #F5F5F6;
    display: flex;
    box-sizing: border-box;
}
.image{
    position: absolute;
    width: 89px;
    height: 23px;
    margin-left: 250px;
    margin-top: 15px;
}
.list{
    display: flex; 
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    letter-spacing: 0.06em;
    color: #959BA4;
}
.list :hover{
    color: black;
    cursor: pointer;
}
.a{
    position: absolute;
    width: 44px;
    height: 19px;
    margin-left: 453px;
    margin-top: 17px;
}
.b{
    position: absolute;
    width: 50px;
    height: 19px;
    margin-left: 510px;
    margin-top: 17px;
}
.c{
    position: absolute;
    width: 94px;
    height: 19px;
    margin-left: 581px;
    margin-top: 17px;
}
.d{
    position: absolute;
    width: 94px;
    height: 19px;
    margin-left: 686px;
    margin-top: 17px;
}
.e{
    position: absolute;
    width: 68px;
    height: 19px;
    margin-left: 796px;
    margin-top: 17px;
}
.f{
    position: absolute;
    width: 101px;
    height: 19px;
    margin-left: 871px;
    margin-top: 17px;
}
.r{
    position: absolute;
    width: 101px;
    height: 19px;
    margin-left: 982px;
    margin-top: 17px;
}
button{
    position: absolute;
    width: 58px;
    height: 33px;
    margin-left: 1250px;
    margin-top: 9px;
    border: none;
    border-radius: 4px;
    background: #FFFFFF;
}
.button1 :hover{
    background-color: #833AE0;
    color: white;
}
h1{
    position: absolute;
    width: 587px;
    height: 32px;
    margin-left: 453px;
    margin-top: 106px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.text1{
    position: absolute;
    width: 120px;
    height: 28px;
    margin-left: 453px;
    margin-top: 171px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #9F9F9F;
}
.text2{
    position: absolute;
    width: 120px;
    height: 28px;
    margin-left: 835px;
    margin-top: 171px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #9F9F9F;
}
.list2{
    position: absolute;
    width: 259px;
    height: 29px;
    left: 453px;
    top: 200px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Roboto";
}
.currencies{
    display: block;
    
}
.nav-right{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}
.nav-left{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.currencies2{
    display: block;
}
.list3{
    position: absolute;
    width: 259px;
    height: 29px;
    margin-left: 835px;
    margin-top: 200px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Roboto";
}
 .list2 :hover{
    background-color: #833AE0;
    color: white;
    cursor: pointer;
}
.list3 :hover{
    background-color: #833AE0;
    color: white;
    cursor: pointer; 
}
.nav-left-btn-active, .nav-right-btn-active{
    background-color: #833AE0;
    color: #FFFFFF;
}
.side1{
    position: absolute;
    width: 259px;
    height: 102px;
    margin-left: 453px;
    margin-top: 250px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
}
.block1{
    position: absolute;
    width: 175px;
    height: 38px;
    margin-left: 14px;
    margin-top: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    border: none;

}
.left-block2{
    position: absolute;
    width: 119px;
    height: 28px;
    margin-left: 16px;
    margin-top: 69px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #C6C6C6;
}
.right-block2{
    position: absolute;
    width: 119px;
    height: 28px;
    margin-left: 16px;
    margin-top: 69px;  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #C6C6C6;
}
.side2{
    position: absolute;
    width: 259px;
    height: 102px;
    margin-left: 835px;
    margin-top: 250px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
}

